{% if include.level == null %}
	{% assign menu_level = 0 %}
{% else %}
	{% capture menu_level %}{{ include.level | plus:1 }}{% endcapture %}
{% endif %}
<ul class="menu-level-{{ menu_level }}">
    {% for menu_page in include.menu %}
        <li class="{% if page.url == menu_page.url %}current{% endif %} {% if menu_page.suburls contains page.url %}current-parent{% endif %}">
            <a href="{{ menu_page.url }}">{{ menu_page.menu.name }}</a>
            {% unless menu_page.subpages contains 0 %}
                {% include menu.html menu=menu_page.subpages current_url=page.url level=menu_level %}
            {% endunless %}
        </li>
    {% endfor %}
</ul>